body{
	width: 100%;
	height: 100%;
}

.hero{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	background-color: #fff;
	// box-shadow: 0px 2px 5px rgba(0,0,0,0.4);

}

.breakContain{
	display:none
}

@media screen and (min-width:555px){
    .breakContain{
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	}
}

.break{
	background-color: #1D2731;
	width:1px;
	height: 300px;
}

.hero2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	background-color: #fff;
	// box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.logo{
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	font-size: 40px;
	text-transform: uppercase;
}

.pageOne{
	// background-color: red;
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.signInForm{
	display:flex;
	flex-direction: column;
	margin-bottom: 0;

		.signUser{
			border: 1px solid #1D2731;
		}

		.passUser{
			border: 1px solid #1D2731;
		}

	}

	.registerForm{
	display: none;
	flex-direction: column;
	margin-bottom: 0;
	
		.regUser{
			border: 1px solid #1D2731;
		}

		.regPass{
			border: 1px solid #1D2731;
		}

	}

	.signAndRegister{
	display: flex;
	flex-direction:row;
	width: 180px;
	}

	.signIn{
	color: #CF6766;
	margin-bottom: 0;
	background-color: #1D2731;
	border: none;
	}

	.register{
	color: #CF6766;
	margin-bottom: 0;
	background-color: #1D2731;
	border: none;
	}

	.registerFont{
		color: #1D2731;
		font-size: 20px;
		margin-left: 5px;
		margin-bottom: 1.5rem;

	}

	.registerFont:hover{
		color: #1D2731;
		font-size: 20px;
		margin-left: 5px;
		margin-bottom: 1.5rem;
	}

	.signInFont{
		color: #CF6766;
		font-size: 20px;
		margin-bottom: 1.5rem;
		margin-right: 5px;
	}

	.signInFont:hover{
		color: #CF6766;
		font-size: 20px;
		margin-bottom: 1.5rem;
		}

	.pipe{
		color: black;
		font-size: 20px;
		margin-bottom: 1.5rem;

	}

	.error{
		color: #1D2731;
		font-size: 11px;
		position: relative;
		top: 36px;
		margin-bottom: 0;
	}
}

.mapPage{
	background-color: white;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23D6DAE2' fill-opacity='0.2'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


header{
	width: 100%;
	height: 100px;
	background-color:#1D2731; 
}

.about{
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	font-size: 10px;
	color: #CF6766;
	margin-right: 15px;
	margin-bottom: 0px;
}

.graph{
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	font-size: 10px;
	color: #CF6766;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 12px;
}

.logout{
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	font-size: 10px;
	color: #CF6766;
	margin-bottom: 0px;
}

a{
	text-decoration: none;
}

.search{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100px;
	width: 100%;
	background-color: #1D2731;
}

.searchBtn{
	background-color: #CF6766;
	color: white;
	width: 50px;
	padding: 0;
	margin-bottom: 0px;
	margin-left: 10px;
}

.searchBtn:hover{
	color: white;
}


#map{
	height:70vh;
	min-width: 300px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 25px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.4);

}


#searchInput{
	width: 50%;
	margin-bottom: 0;
}

.footer{
	width:100%;
	height: 50px;
	background-color: #1D2731;
	position: fixed;
	bottom: 0;
}

.footerCont{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #1D2731;
}


.foot{
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	font-size: 10px;
	color: #CF6766;
	margin: 0;

}

.modal{
	display:none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top:0;
	left:0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);

	.modalHead{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 400px;
	height: 25px;
	background-color: #CF6766;

		.x{
		margin:10px;
		font-family: 'Chivo', sans-serif;
		font-weight: 700;
		font-size: 12px;
		color: #1D2731;

		}

	}

	.content{
	width: 400px;
	height: 150px;
	background-color: #1D2731;
	}

	.modalText{
	width: 365px;
	height: 200px;
	margin: 20px;
	color: white;
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	font-size: 12px;
	}
}



//Data Page

.overlay{
	display:none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top:0;
	left:0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: white;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23D6DAE2' fill-opacity='0.2'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

	.overlayText{
		display:flex;
		justify-content: center;
		align-items: center;
		width: 500px;
		height: 500px;
	}

	.warning{
		text-align: center;
		font-family: 'Chivo', sans-serif;
		font-weight: 300;
		font-size: 25px;
	}
}

@media screen and (max-width:850px){
    .overlay{
		display:flex;
	}
}

.fullDataPage{
	width: 100%;
	height: 100vh;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23D6DAE2' fill-opacity='0.2'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dataPage{
	width: 100%;
	height: 50px;
	background-color: #1D2731;
}

.dataHeader{
	display: flex;
	align-items: center;
	height:50px;
	width: 100%;
	background-color: #1D2731;

	.goBack{
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	font-size: 10px;
	color: #CF6766;
	margin-bottom: 0px;
	margin-right: 12px;
	}

}


.dataTextContain{
	margin-top:15px;
	width:100%;
	height: 500px;
	// background-color: red;

	.dataText{
	line-height: 25px;
	backrgound: none;
	padding-top: 25px;
	margin-bottom: 0;
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #1D2731;
	}

	.boxOneContain, .boxTwoContain{
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		align-items: center;
		margin-top: 20px;
		width: 100%;
		height: 25px;
		// background-color: yellow;

	}

	.boxOneText, .boxTwoText{
		line-height: 13px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left:5px;
		font-family: 'Chivo', sans-serif;
		font-weight: 300;
		font-size: 12px;
		color: #1D2731;
	}

	.boxOne{
		width: 25px;
		height: 25px;
		background-color: #CF6766;
	}

	.boxTwo{
		width: 25px;
		height: 25px;
		background-color: #1D2731;
	}
}

.chartContain{
	margin-top: 15px;
	width: 100%;
	height: 500px;
	// background-color: red;
}


.chart{
	display: flex;
	justify-content: center;
}

.time{
	color: white;
}














