<!DOCTYPE html>
<html>
<head>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="/script/bubbleScript.js"></script>
</head>
<body>

<div class="overlay">
	<div class="overlayText"><h1 class="warning">For the best experience please </br> please resize your browser window </br> or view on a desktop monitor.</h1></div>
</div>

<div class="fullDataPage">

<header class="dataPage">
<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="dataHeader">
				<a href="/scofflaw/nyc-map"><p class="goBack">Go Back</p></a>
				<a href="/scofflaw/nyc-map/logout"><p class="logout">Logout</p></a>
			</div>
		</div>
	</div>
</div>
</header>

<div class="container">
	<div class="row">
		<div class="three columns">
			<div class="dataTextContain">
				<div class="dataText"><p class="dataText">Visualization of <br/> ticket times.</p></div>
				<div class="boxOneContain">
					<div class="boxOne"></div>
					<p class="boxOneText">More than 30 tickets</p>
				</div>
				<div class="boxTwoContain">
					<div class="boxTwo"></div>
					<p class="boxTwoText">Less than 30 tickets</p>
				</div>
			</div>
		</div>

		<div class="nine columns">
			<div class="chartContain">
				<div class="chart"></div>
			</div>
		</div>

	</div>
</div>




<footer class="footer">
<div class="container">
<div class="row">
		<div class="twelve columns">
			<div class="footerCont">
				<p class="foot">
				Built by Jason Corey &copy 2017
				</p>
			</div>
		</div>
</div>
</div>
</footer>

</div>





	</body>
</html>








