<!DOCTYPE html>
<html>
<head>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="/script/bubbleScript.js"></script>
</head>
<body>

<header class="dataPage">
<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="dataHeader">
				<a href="/scofflaw/nyc-map"><p class="goBack">Go Back</p></a>
				<a href="/scofflaw/nyc-map/logout"><p class="logout">Logout</p></a>
			</div>
		</div>
	</div>
</div>
</header>




<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="times">
				<div class="dataContainer">
					<h4 class="dataText">Visualization <br/> of ticket times.</h4>
					<div class="chart"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<footer class="footer">
<div class="container">
<div class="row">
		<div class="twelve columns">
			<div class="footerCont">
				<p class="foot">
				Built by Jason Corey &copy 2017
				</p>
			</div>
		</div>
</div>
</div>
</footer>





<!-- <script type="text/javascript" src="/script/bubbleScript.js"></script>
 --></body>
</html>








