<div class="pageOne">

<div class="container">
	<div class="row">
		<div class="five columns">
			<div class="hero">
				<p class="logo">Scofflaw</p>
			</div>
		</div>
		
		<div class="one column">
			<div class="breakContain">
				<div class="break">
				</div>
			</div>
		</div>


		<div class="six columns">
			<div class="hero2">
				<div class="signAndRegister">
					<h3 class="signInFont">Sign In</h3>
					<h3 class="pipe">|</h3>
					<h3 class="registerFont">Register</h3>
				</div>
				<form class="signInForm" action="/scofflaw/welcome/login" method="POST">
					<input class="signUser" type="text" name="loginUsername" placeholder="username"/>
					<input class="passUser" type="password" name="loginPassword" placeholder="password"/>
					<button class="signIn">Sign In</button>
				</form>
				<form class="registerForm" action="/scofflaw/welcome/register" method="POST">
					<input class="regUser" type="text" name="regUsername" placeholder="username"/>
					<input class="regPass" type="password" name="regPassword" placeholder="password"/>
					<button class="register">Register</button>
				</form>
				<p class="error"><%=@message%></p>
			</div>
		</div>
	</div>

</div>
</div>